* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif !important;
}
.container {
  width: 1110px;
  height: auto;
  margin: 0 auto;
}
nav {
  width: 100%;
  height: 100px;
  background-color: #252c34;
}
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}
.nav__logo {
  width: 134px;
}
.nav__menu {
  width: 540px;
  display: flex;
  justify-content: space-between;
}
.nav__menu li {
  list-style-type: none;
  color: #fff;
}
